STRUCTURE_HEALTH_DB_URL=jdbc:postgresql://localhost:5432/strutured_care
STRUCTURE_HEALTH_DB_USERNAME=strutured_care
STRUCTURE_HEALTH_DB_PASSWORD=strutured_care
STRUCTURE_HEALTH_FRONTEND_ALLOWED_ORIGINS=http://localhost:6070,http://localhost:6060
